@font-face {
  font-family: "poppins-regular";
  src: url("../poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-bold";
  src: url("../poppins/Poppins-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

header .logo,
header nav,
li {
  display: inline-block;
}

header,
.logo {
  vertical-align: middle;
}



.titulofondo {
  color: white;
  font-family: "poppins-bold";
  background-color: hotpink;
  font-size: medium;
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-sizing: content-box;
}

.titulofondo2 {
  color: white;
  font-family: "poppins-bold";
  background-color: violet;
  font-size: medium;
  text-align: center;
  margin: 10px;
  padding: 10px;
  box-sizing: content-box;
}

.textoinicio {
  text-align: center;
  margin: 10px;
  padding: 30px;
  box-sizing: content-box;
}

.tituloindex {
  text-align: center;
  margin: 10px;
  padding: 30px;
  box-sizing: content-box;
}

.tituloservicios {
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-sizing: content-box;
}

.ubi {
  font-size: medium;
  background-color: rosa;
  text-align: left;
  margin: 10px;
  padding: 20px;
}

.whats {
  font-size: medium;
  background-color: rosa;
  text-align: left;
  margin: 10px;
  padding: 20px;
}

h1 {
  color: rgb(226, 43, 110);
  font-family: "poppins-bold";
  font-size: x-large;
  text-align: center;
}

h2 {
  font-family: "poppins-regular";
  font-size: medium;
}

h3 {
  font-family: "poppins-regular";
  font-size: medium;
}



ul li a {
  display: inline-block;
  font-family: "poppins-regular";
  font-size: smaller;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

.imagencontacto {
  margin: 10;
  padding: 20;
  box-sizing: content-box;
  text-align: center;
}

.rosa {
  font-family: "poppins-regular";
  color: rgb(226, 43, 110);
  font-size: smaller;
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-sizing: content-box;
}

p {
  font-family: "poppins-regular";
  font-size: small;
}

.fotoinicio {
  width: 100%;
  text-align: center;
}

.tarjeta1 {
  background-color: rgb(252, 222, 248);
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 300px;
  box-sizing: content-box;
  text-align: left;
}

.tarjeta2 {
  background-color: rgb(252, 222, 248);
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 300px;
  box-sizing: content-box;
  text-align: left;
}

.tarjeta3 {
  background-color: rgb(252, 222, 248);
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 300px;
  box-sizing: content-box;
  text-align: left;
}



.tarjeta1,
.tarjeta2,
.tarjeta3 {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  padding: 20px;
  box-sizing: content-box;
}

section.grids1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:
    100px 500px;

  grid-template-areas:
    "tituloservicios tituloservicios tituloservicios"
    "tarjeta1 tarjeta2 tarjeta3"
}

.tituloservicios {
  grid-area: tituloservicios;
  grid-column: 2/3;
}

.tarjeta1 {
  grid-area: tarjeta1;
}

.tarjeta2 {
  grid-area: tarjeta2;
}

.tarjeta3 {
  grid-area: tarjeta3;
}

section.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    20px 1fr 1.40fr 1.40fr;

  grid-template-areas:
    "titulofondo titulofondo2"
    "logo1 logo2"
    "logo3 logo3"
    "logo4 logo4"
}

.titulofondo {
  grid-area: titulofondo;
}

.titulofondo2 {
  grid-area: titulofondo2;
}

.imagen1 {
  grid-area: logo1;
  margin: 10px;
}

.imagen2 {
  grid-area: logo2;
  margin: 10px;
}

.imagen3 {
  grid-area: logo3;
  margin: 10px;
}

.imagen4 {
  grid-area: logo4;
  margin: 10px;
}

.grids img {
  width: 75%;
  height: 75%;
  object-fit: contain;
  text-align: center;
}


section.grids3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    100px 350px 350px;

  grid-template-areas:
    "imagencontacto imagencontacto"
    "contacto contacto"
    "whatsapp ubicacion"
}

.imagencontacto {
  grid-area: imagencontacto;
}

.contacto {
  grid-area: contacto;
}

.whats {
  grid-area: whatsapp;
}

.ubi {
  grid-area: ubicacion;
}


section.grids4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:
    200px 200px;

  grid-template-areas:
    "cami sofi"
    "sobrenosotras sobrenosotras";
}

.cami {
  grid-area: cami;
}

.sofi {
  grid-area: sofi;
}

.sobrenosotras {
  grid-area: sobrenosotras;
}


@media screen and (max-width: 768px)
/*tablet*/
  {
  section.grids1 {
    grid-template-columns: 1fr;
    grid-template-rows:
      0.5fr 1fr 1fr 1fr;

    grid-template-areas:
      "tituloservicios"
      "tarjeta1"
      "tarjeta2"
      "tarjeta3"
  }
}


section.grids {
  grid-template-columns: 1fr;
  grid-template-rows:
    40px 40px 1fr 1fr 0.75fr 0.75fr;

  grid-template-areas:
    "titulofondo"
    "titulofondo2"
    "logo1"
    "logo2"
    "logo3"
    "logo4"
}

section.grids3 {
  grid-template-columns: 1fr;
  grid-template-rows:
    0.5fr 0.5fr 1fr;

  grid-template-areas:
    "imagencontacto"
    "whatsapp"
    "ubicacion";
}

@media screen and (max-width: 500px)
/*smartphone*/
  {
  .tituloservicios {
    margin: 2px;
    padding: 20px;
  }

  ul:li {
    font-size: small;
  }

  section.grids1 {
    grid-template-columns: 1fr;
    grid-template-rows:
      0.5fr 1fr 1fr 1fr;

    grid-template-areas:
      "tituloservicios"
      "tarjeta1"
      "tarjeta2"
      "tarjeta3"
  }
}

section.grids {
  grid-template-columns: 1fr;
  grid-template-rows:
    40px 40px 1fr 1fr 0.75fr 0.75fr;

  grid-template-areas:
    "titulofondo"
    "titulofondo2"
    "logo1"
    "logo2"
    "logo3"
    "logo4"

}

section.grids3 {
  grid-template-columns: 1fr;
  grid-template-rows:
    0.5fr 0.5fr 1fr;

  grid-template-areas:
    "imagencontacto"
    "whatsapp"
    "ubicacion"
}

.tarjeta1:hover {
  color: lightslategray;
}

.tarjeta2:hover {
  color: lightslategray;
}

.tarjeta3:hover {
  color: lightslategray;
}

.titulofondo:hover {
  color: lightslategray;
}

.titulofondo2:hover {
  color: lightslategray;
}

.before-after li:hover::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background: lightslategray;
  height: 3px;
}

.before-after li :hover ::before {
  content: "";
  display: none;
}