/* Error: expected more input.
 *    ,
 * 67 | }
 *    |  ^
 *    '
 *   scss\components\_header.scss 67:2  @import
 *   scss\styles.scss 10:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected more input.\a    \2577 \a 67 \2502  }\a    \2502   ^\a    \2575 \a   scss\\components\\_header.scss 67:2  @import\a   scss\\styles.scss 10:9              root stylesheet";
}
