font-face {
  font-family: "poppins-regular";
  src: url("../poppins/Poppins-Regular.ttf");
  font-family: "poppins-bold";
  src: url("../poppins/Poppins-Bold.ttf");
}

@media screen and (max-width: 768px) {
  section.grids1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: "tituloservicios" "tarjeta1" "tarjeta2" "tarjeta3";
  }
}
section.grids {
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 1fr 1fr 0.75fr 0.75fr;
  grid-template-areas: "titulofondo" "titulofondo2" "logo1" "logo2" "logo3" "logo4";
}

section.grids3 {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  grid-template-areas: "imagencontacto" "whatsapp" "ubicacion";
}

@media screen and (max-width: 500px) {
  .tituloservicios {
    margin: 2px;
    padding: 20px;
  }
  ul:li {
    font-size: small;
  }
  section.grids1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas: "tituloservicios" "tarjeta1" "tarjeta2" "tarjeta3";
  }
}
section.grids {
  grid-template-columns: 1fr;
  grid-template-rows: 40px 40px 1fr 1fr 0.75fr 0.75fr;
  grid-template-areas: "titulofondo" "titulofondo2" "logo1" "logo2" "logo3" "logo4";
}

section.grids3 {
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  grid-template-areas: "imagencontacto" "whatsapp" "ubicacion";
}

* {
  padding: 20;
  margin: 20;
  box-sizing: content-box;
}

h1 {
  font-family: tipografia-titulos;
  font-size: large;
  color: rosa;
}

h2 {
  font-family: tipografia-titulos;
  font-size: medium;
  color: rosa;
}

h3 {
  font-family: tipografia-textos;
  font-size: medium;
}

ul li a {
  list-style: none;
  display: inline-block;
  font-family: tipografia-textos;
  font-size: smaller;
  text-decoration: none;
  list-style: none;
}

footer .rosa {
  font-family: "tipografia-textos";
  color: "rosa";
  font-size: smaller;
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-sizing: content-box;
}

header .navbar .logo {
  vertical-align: middle;
}
header header nav,
header li {
  display: inline-block;
  margin-right: 10px;
}

main .grids3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 350px;
  grid-template-areas: "imagencontacto imagencontacto" "whatsapp ubicacion";
}
main .imagencontacto {
  grid-area: imagencontacto;
  margin: 10;
  padding: 40;
  box-sizing: content-box;
  text-align: center;
}
main .whatsapp {
  grid-area: whatsapp;
  font-size: medium;
  background-color: rosa;
  text-align: left;
}
main .ubicacion {
  grid-area: ubicacion;
  font-size: medium;
  background-color: rosa;
  text-align: left;
}

main h1 .tituloindex {
  color: rosa;
  font-family: tipografia-titulos;
  font-size: x-large;
  text-align: center;
  margin: 10px;
  padding: 30px;
  box-sizing: content-box;
}
main div .fotoinicio {
  width: 100%;
  text-align: center;
}
main div h2 .textoinicio {
  text-align: center;
  margin: 10px;
  padding: 20px;
  box-sizing: content-box;
}

main .grids4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 600px 200px;
  grid-template-areas: "cami sofi" "sobrenosotras sobrenosotras";
}
main .cami {
  grid-area: cami;
}
main .sofi {
  grid-area: sofi;
}
main .sobrenosotras {
  grid-area: sobrenosotras;
  margin: 20;
  padding: 20;
  font-family: tipografia-textos;
  color: rosa;
}

main .grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr 1.4fr 1.4fr;
  grid-template-areas: "titulofondo titulofondo2" "logo1 logo2" "logo3 logo3" "logo4 logo4";
}
main .titulofondo {
  grid-area: titulofondo;
}
main .titulofondo2 {
  grid-area: titulofondo2;
}
main .imagen1 {
  grid-area: logo1;
}
main .imagen2 {
  grid-area: logo2;
}
main .imagen3 {
  grid-area: logo3;
}
main .imagen4 {
  grid-area: logo4;
}
main .grids img {
  width: 75%;
  height: 75%;
  object-fit: contain;
  text-align: center;
}

main .grids1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 500px;
  grid-template-areas: "tituloservicios tituloservicios tituloservicios" "tarjeta1 tarjeta2 tarjeta3";
}
main .tituloservicios {
  grid-area: tituloservicios;
  grid-column: 2/3;
}
main .tarjeta1 {
  grid-area: tarjeta1;
  background-image: linear-gradient top, #bbd6fb, #f6aaf2;
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 300px;
  box-sizing: content-box;
  text-align: left;
}
main .tarjeta2 {
  grid-area: tarjeta2;
  background-image: linear-gradient top, #bbd6fb, #f6aaf2;
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 300px;
  box-sizing: content-box;
  text-align: left;
}
main .tarjeta3 {
  grid-area: tarjeta3;
  background-image: linear-gradient top, #bbd6fb, #f6aaf2;
  padding: 10px;
  margin: 20px;
  width: 400px;
  height: 300px;
  box-sizing: content-box;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
