@import "./components/footer";
@import "./components/header";



font-face {
    font-family: "poppins-regular";
    src: url("../poppins/Poppins-Regular.ttf");
    font-family: "poppins-bold";
    src: url("../poppins/Poppins-Bold.ttf");
}
