main {
    .grids4 {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows:
            200px 200px;

        grid-template-areas:
            "cami sofi"
            "sobrenosotras sobrenosotras";
    
.cami {
        grid-area: cami;
    }

    .sofi {
        grid-area: sofi;
    }

    .sobrenosotras {
        grid-area: sobrenosotras;
        font-family: tipografia-textos;
        color: rosa;
    }
    }

    

}
