main {
    .grids1 {
        display: grid;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat (auto-fit, minmax(15rem, 1fr));
    }

    .tituloservicios {
        grid-area: tituloservicios;
        grid-column: 2/3;
    }

    .tarjeta1 {
        grid-area: tarjeta1;
    }

    .tarjeta2 {
        grid-area: tarjeta2;
    }

    .tarjeta3 {
        grid-area: tarjeta3;
    }

    .tarjeta1,
    .tarjeta2,
    .tarjeta3 {
        background-image:linear-gradient(to right, #f4f8fe, #feecfd);
        padding: 10px;
        margin: 20px;
        width: 300px;
        height: 400px;
        box-sizing: content-box;
        text-align: left;
    }
}

.tarjeta1:hover,
.tarjeta2:hover,
.tarjeta3:hover {
    color: lightslategray;
}