main {
    h1 {
        .tituloindex {
            color: rgb(220, 99, 119);
            font-family: "poppins-bold";
            font-size: x-large;
            text-align: center;
            margin: 10px;
            padding: 30px;
            box-sizing: content-box;
        }
    }

    div .fotoinicio {
        width: 100%;
        text-align: center;
    }

    div {
        h2 {
            .textoinicio {
                text-align: center;
                margin: 10px;
                padding: 20px;
                box-sizing: content-box;
            }
        }
    }
}