main {
    .grids1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:
            100px 500px;

        grid-template-areas:
            "tituloservicios tituloservicios tituloservicios"
            "tarjeta1 tarjeta2 tarjeta3"
    }

    .tituloservicios {
        grid-area: tituloservicios;
        grid-column: 2/3;
    }

    div .tarjeta1 {
        grid-area: tarjeta1;
        background-image: linear-gradient (top, #bbd6fb, #f6aaf2);
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 300px;
    box-sizing: content-box;
    text-align: left;
    }

   div .tarjeta2 {
        grid-area: tarjeta2;
        background-image: linear-gradient (top, #bbd6fb, #f6aaf2);
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 300px;
    box-sizing: content-box;
    text-align: left;
    }

    .tarjeta3 {
        grid-area: tarjeta3;
        background-image: linear-gradient (top, #bbd6fb, #f6aaf2);
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 300px;
    box-sizing: content-box;
    text-align: left;
    }

   }