main {
 .grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:
   200px
   200px
   500px
   500px
   500px;


    grid-template-areas:
    "tituloprincipal tituloprincipal"
    "titulofondo titulofondo2"
    "logo1 logo2"
    "logo3 logo3"
    "logo4 logo4";
  }
  .tituloprincipal {
    grid-area: tituloprincipal;
    text-align: center;
    margin: 20;
    padding: 20;
  }

   .titulofondo {
    grid-area: titulofondo;
  }
  
  .titulofondo2 {
    grid-area: titulofondo2;
  }
  
   .imagen1 {
    grid-area: logo1;
    margin: 20;
    padding: 20;
    box-sizing: content-box;
  }
  
   .imagen2 {
    grid-area: logo2;
    margin: 20;
    padding: 20;
    box-sizing: content-box;
  }
  
 .imagen3 {
    grid-area: logo3;
    margin: 20;
    padding: 20;
    box-sizing: content-box;
  }
  
 .imagen4 {
    grid-area: logo4;
    margin: 20;
    padding: 20;
    box-sizing: content-box;
  }
  
  .titulofondo:hover, .titulofondo2:hover {
    color: lightslategray;
  }
  
}