main{
    section.grids3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
            1fr 2fr;

        grid-template-areas:
            "imagencontacto imagencontacto"
            "whatsapp ubicacion";
    }

    .imagencontacto {
        grid-area:imagencontacto;
        margin:10px;
        padding:40px;
        width:75%;
        height:75%;
        box-sizing:content-box;
        text-align:center;
    }

    .whatsapp {
        grid-area:whatsapp;
        font-size:medium;
        background-color:$rosa;
        text-align:left;
    }

    .ubicacion {
        grid-area:ubicacion;
        font-size:medium;
        background-color:$rosa;
        text-align:left;
    }
}