main {
    section.grids4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
        2fr 1fr;

        grid-template-areas:
            "cami sofi"
            "sobrenosotras sobrenosotras"
    }

    .cami {
        grid-area: cami;
    }

    .sofi {
        grid-area: sofi;
    }

    p .sobrenosotras {
        grid-area: sobrenosotras;
        font-family: $tipografia-textos;
        color: $rosa;
    }

}