main {
    .grids1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:
            100px 500px;

        grid-template-areas:
            "tituloservicios tituloservicios tituloservicios"
            "tarjeta1 tarjeta2 tarjeta3"
    }

    .tituloservicios {
        grid-area: tituloservicios;
        grid-column: 2/3;
    }

    .tarjeta1 {
        grid-area: tarjeta1;
    }

    .tarjeta2 {
        grid-area: tarjeta2;
    }

    .tarjeta3 {
        grid-area: tarjeta3;
    }
}
.tarjeta1 {
    background-color: rgb(252, 222, 248);
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 300px;
    box-sizing: content-box;
    text-align: left;
  }
  
  .tarjeta2 {
    background-color: rgb(252, 222, 248);
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 300px;
    box-sizing: content-box;
    text-align: left;
  }
  
  .tarjeta3 {
    background-color: rgb(252, 222, 248);
    padding: 10px;
    margin: 20px;
    width: 400px;
    height: 300px;
    box-sizing: content-box;
    text-align: left;
  }
  
  
  
  .tarjeta1,
  .tarjeta2,
  .tarjeta3 {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    padding: 20px;
    box-sizing: content-box;
  }