main {
  section .grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas: "titulofondo titulofondo2" "logo1 logo2" "logo3 logo3" "logo4 logo4";
  }
  
  .titulofondo {
    grid-area: titulofondo;
  }
  
  .titulofondo2 {
    grid-area: titulofondo2;
  }
  
  .imagen1 {
    grid-area: logo1;
  }
  
  .imagen2 {
    grid-area: logo2;
  }
  
  .imagen3 {
    grid-area: logo3;
  }
  
  .imagen4 {
    grid-area: logo4;
  }
  
  .grids img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    text-align: center;
  }
  
  .titulofondo:hover, .titulofondo2:hover {
    color: lightslategray;
  }
  
}