main {
    .grids4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:
            1fr 1fr;

        grid-template-areas:
            "cami sofi"
            "sobrenosotras sobrenosotras"
    }

    .cami {
        grid-area: cami;
    }

    .sofi {
        grid-area: sofi;
    }

    .sobrenosotras {
        grid-area: sobrenosotras;
    }

}
