* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}



ul {
    li {
        a {
            list-style: none display inline-block;
            font-family: tipografia-textos;
            font-size: smaller;
            text-decoration: none;
            list-style: none;
        }
    }
}