* {
    padding: 20;
    margin: 20;
    box-sizing: content-box;
}

h1 {
    font-family: $tipografia-titulos;
    font-size: large;
    color: $rosa;
}

h2 {
    font-family: $tipografia-titulos;
    font-size: medium;
    color: $rosa;
}

h3 {
    font-family: $tipografia-textos;
    font-size: medium;
}

p .rosa {  
    font-family: $tipografia-textos;
    color: $rosa;
    font-size: smaller;
    text-align: center;
    margin: 10px;
    padding: 20px;
    box-sizing: content-box;}

ul {
    li {
        a {
            list-style: none;
            display: inline-block;
            font-family: $tipografia-textos;
            font-size: smaller;
            text-decoration: none;
            list-style: none;
        }
    }
}

