* {
    padding: 20;
    margin: 20;
    box-sizing: content-box;
}

h1 {
    font-family: $tipografia-titulos;
    font-size: large;
    color: $rosa;
}

h2 {
    font-family: $tipografia-titulos;
    font-size: medium;
    color: $rosa;
}

h3 {
    font-family: $tipografia-textos;
    font-size: medium;
}

p {
    font-family: $tipografia-textos;
    font-size: small;
    text-align: center;
}

ul {
    li {
        a {
            list-style: none;
            display: inline-block;
            font-family: $tipografia-textos;
            font-size: smaller;
            text-decoration: none;
            list-style: none;
        }
    }
}

