@media screen and (max-width: 768px) {
    .fotoinicio {
     height: 50%;
     width: 50%;
    }

    .grids1 {
        grid-template-columns: 1fr;
        grid-template-rows:
            0.5fr 1fr 1fr 1fr;

        grid-template-areas:
            "tituloservicios"
            "tarjeta1"
            "tarjeta2"
            "tarjeta3";
    }



    .grids {
        grid-template-columns: 1fr;
        grid-template-rows:
        1fr 1fr 1fr 3fr 3fr 2fr 2fr;

        grid-template-areas:
            "tituloprincipal"
            "titulofondo"
            "titulofondo2"
            "logo1"
            "logo2"
            "logo3"
            "logo4";
    }
    .grids img {
        height: 50%;
        width: 50%;

    }

    .grids3 {
        grid-template-columns: 1fr;
        grid-template-rows:
        1fr 2fr 2fr;
    

        grid-template-areas:
            "imagencontacto"
            "whatsapp"
            "ubicacion";
    }
}

@media screen and (max-width: 500px) {

    .fotoinicio {
        height: 25%;
        width: 25%;
       }
       
    .grids1 {
        width: 400px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        grid-template-areas: "tituloservicios" "tarjeta1" "tarjeta2" "tarjeta3";
    }

    .grids {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 3fr 3fr 2fr 2fr;
        grid-template-areas: "tituloprincipal" "titulofondo" "titulofondo2" "logo1" "logo2" "logo3" "logo4";
    }
    .grids img {
        height: 50%;
        width: 50%;

    }

    .grids3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 2fr;
        grid-template-areas: "imagencontacto" "whatsapp" "ubicacion";
    }
}