footer {
    .rosa {
        font-family: "tipografia-textos";
        color: "rosa";
        font-size: smaller;
        text-align: center;
        margin: 10px;
        padding: 20px;
        box-sizing: content-box;
    }
}